<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    <%= @allArticle.each do |article|%>
       <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td>1</td>
       </tr>
     <% end %>  
    </tbody>
</table>
